@font-face {
    font-family: "poppins";
    font-weight: 200;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "poppins";
    font-weight: 400;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppins";
    font-weight: 600;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
:root {
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins";
    font-size: 15px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 25vh; */
}
.header-div {
    /* background-color: rgb(238, 218, 7); */
    text-align: center;
    width: 450px;
    padding-block: 50px;
}
.header-first {
    font-weight: 200;
    color: var(--Grey-400);
}
.header-secoend {
    font-weight: 600;
    color: var(--Grey-500);
}
.header-p {
    font-weight: 400;
    color: var(--Grey-400);
    margin-top: 10px;
}
.container-div {
    /* border: 1px solid black; */
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .supervisor {
        border: 1px solid var(--Grey-400);
        /* background-color: var(--White); */
        border-top: 5px solid var(--Cyan);
        border-radius: 5px;
        width: 330px;
        height: 195px;
        padding: 30px;
        display: flex;
        flex-direction: column;

        .supervisor-h3 {
            color: var(--Grey-500);
        }
        .supervisor-p {
            color: var(--Grey-400);
        }
        .supervisor-img {
            align-self: end;
        }
    }
    .center-div {
        .builder {
            border: 1px solid var(--Grey-400);
            /* background-color: var(--White); */
            border-top: 5px solid var(--Red);
            border-radius: 5px;
            width: 330px;
            height: 195px;
            margin-bottom: 30px;
            padding: 30px;

            display: flex;
            flex-direction: column;
            .builder-h3 {
                color: var(--Grey-500);
            }
            .builder-p {
                color: var(--Grey-400);
            }
            .builder-img {
                align-self: end;
            }
        }

        .karma {
            border: 1px solid var(--Grey-400);
            /* background-color: var(--White); */
            border-top: 5px solid var(--Orange);
            border-radius: 5px;
            width: 330px;
            height: 195px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            .karma-h3 {
                color: var(--Grey-500);
            }
            .karma-p {
                color: var(--Grey-400);
            }
            .karma-img {
                align-self: end;
            }
        }
    }
    .calculator {
        border: 1px solid var(--Grey-400);
        /* background-color: var(--White); */
        border-top: 5px solid var(--Blue);
        border-radius: 5px;
        width: 330px;
        height: 195px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        .calculator-h3 {
            color: var(--Grey-500);
        }
        .calculator-p {
            color: var(--Grey-400);
        }
        .calculator-img {
            align-self: flex-end;
        }
    }
}
@media (max-width: 768px) {
    .header-div {
        width: 375px;
    }
    .container-div {
        display: flex;
        flex-direction: column;
    }
}
